<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vanlthpc07042_Csharp2_ASM_GD2.Properties.Settings.QUANLYXEHONDAConnectionString"
            connectionString="Data Source=DESKTOP-HIOFI47\SQLEXPRESS;Initial Catalog=QUANLYXEHONDA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Vanlthpc07042_Csharp2_ASM_GD2.Properties.Settings.QUANLYXEHONDAConnectionString1"
            connectionString="Data Source=DESKTOP-HIOFI47\SQLEXPRESS;Initial Catalog=QUANLYXEHONDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>